<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tervitus</title>
    <%- include('head') %>
</head>
<body>
    <h1>Tere maailm</h1>
    <p>Ja kõik teised ka, eriti <%= nimi %></p>
    <div>
        <img src="/maed.png" alt="mäed">
    </div>
</body>
</html>
    